@page "/cards"
@using TopTrumps.Data.DTOs
@using TopTrumps.Data.Services

@inject ICardsService _cardsService

@attribute [Authorize(Roles = "Admin")]

<h3>
    Cards
</h3>

<div class="row">
    <div class="col-12">
        <NavLink class="btn btn-primary float-right" href="/cards/new">
            <span class="oi oi-home" aria-hidden="true"></span> Add New Card
        </NavLink>
    </div>
</div>


<div class="row">
    @foreach (var card in _cards)
    {

        <div class="col-sm-4 col-md-3 mb-2">
            <div class="card border-dark mb-3" style=" border: 9px solid black; max-width: 25rem; border-radius: .25rem;">
                <div class="card text-center bg-success" style="border-radius: .25rem;">
                    <div class="card text-black bg-success mb-3">
                        <img class="card-img-top" src="@card.ImageUrl" alt="Card image cap">

                        <div class="card-body">
                            <h2 class="card-title">@card.Name</h2>
                            <h3 class="card-type">@card.Type</h3>
                            <p><h4 class="card-text">ABV = @card.ABV</h4></p>
                            <p><h4 class="card-text">ACCESSIBILITY = @card.Accessibility</h4></p>
                            <p><h4 class="card-text">REPUTATION = @card.Reputation</h4></p>
                            <p><h4 class="card-text">POPULARITY = @card.Popularity</h4></p>
                            <p class="card-description">@card.Description</p>
                            <NavLink class="btn btn-primary" href=@{$"cards/{card.Id}"}>
                                Edit
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>






<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <th>Card Id</th>
                <th>Card Id</th>
                <th>Card Name</th>
                <th>Card Type</th>
                <th>Card ABV</th>
                <th>Card Accessibility</th>
                <th>Card Reputation</th>
                <th>Card Popularity</th>
                <th>Card Description</th>
                <th></th>
            </tr>
            @foreach (var card in _cards)
            {
                <tr>
                    <td><img src="@card.ImageUrl" width="100" height="100" /></td>
                    <td>@card.Id</td>
                    <td>@card.Name</td>
                    <td>@card.Type</td>
                    <td>@card.ABV</td>
                    <td>@card.Accessibility</td>
                    <td>@card.Reputation</td>
                    <td>@card.Popularity</td>
                    <td>@card.Description</td>
                    <td>
                        <NavLink class="btn btn-primary" href=@{$"cards/{card.Id}"}>
                            <span class="oi oi-home" aria-hidden="true"></span> Edit
                        </NavLink>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@code
{
    private IEnumerable<Card> _cards = new List<Card>();

    protected override async Task OnInitializedAsync()
    {
        _cards = await _cardsService.GetAllCards();
    }
}
