@page "/cards"
@using TopTrumps.Data.DTOs
@using TopTrumps.Data.Services

@inject ICardsService _cardsService

@attribute [Authorize(Roles = "Admin")]

<h3>
    Cards
</h3>

<div class="row">
    <div class="col-12">
        <NavLink class="btn btn-primary float-right" href="/cards/new">
            <span class="oi oi-home" aria-hidden="true"></span> Add New Card
        </NavLink>
    </div>
</div>

<br />

<div class="row">
    @foreach (var card in _cards)
    {
        <div class="top-trumps-card">
            <div class="top-trumps-card-inner">
                <div style="background: url(@card.ImageUrl) no-repeat; background-size: contain; width: 100%; height: 50%; border-radius: 12px;">
                    <h4 class="card-title">@card.Name</h4>
                </div>
                <h5 class="card-type">@card.Type</h5>
                <table class="table">
                    <tr class="table-row">
                        <td>ABV</td>
                        <td>@card.ABV</td>
                    </tr>
                    <tr class="table-row">
                        <td>ACCESSIBILITY</td>
                        <td>@card.Accessibility</td>
                    </tr>
                    <tr class="table-row">
                        <td>REPUTATION</td>
                        <td>@card.Reputation</td>
                    </tr>
                    <tr class="table-row">
                        <td>POPULARITY</td>
                        <td>@card.Popularity</td>
                    </tr>
                </table>
                <p class="card-description truncate">@card.Description</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#top-trumps-card">
                    View Card
                </button>
                <NavLink class="btn btn-primary" href=@{$"cards/{card.Id}"}>
                    Edit
                </NavLink>
            </div>
        </div>
    }
</div>

@code
{
    private IEnumerable<Card> _cards = new List<Card>();

    protected override async Task OnInitializedAsync()
    {
        _cards = await _cardsService.GetAllCards();
    }
}
