@page "/my-collection"
@using TopTrumps.Data.Services
@using TopTrumps.Data.DTOs

@inject ICardsService CardsService
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize(Roles = "Player")]

<table>
    <tr>
        <th>Card Id</th>
        <th>Card Name</th>
        <th>Card Type</th>
        <th>Card ABV</th>
        <th>Card Accessibility</th>
        <th>Card Reputation</th>
        <th>Card Popularity</th>
        <th>In Deck</th>
    </tr>
    @foreach (var card in _cards)
    {
        <tr>
            <td>@card.Id</td>
            <td>@card.Name</td>
            <td>@card.Type</td>
            <td>@card.ABV</td>
            <td>@card.Accessibility</td>
            <td>@card.Reputation</td>
            <td>@card.Popularity</td>
            <td>@card.InDeck</td>
        </tr>
    }
</table>

@code {
    private IEnumerable<PlayersCard> _cards = new List<PlayersCard>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        _cards = await CardsService.GetPlayersCollection(authState.User.Identity.Name);
    }
}
